<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>

  <%- include('./partials/nav.ejs') %>


  <div class="about content">
    <h2>About us</h2>
    <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, aliquid. Fugit, facere sed? Illo sapiente nesciunt laboriosam nam voluptate. Sapiente in assumenda corrupti maiores exercitationem et accusantium ab, ipsum delectus.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto dicta harum ducimus accusamus a dignissimos.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam doloremque iure corrupti non quo expedita? Soluta, commodi esse nesciunt eum saepe modi accusamus, perspiciatis, sint voluptates alias vel culpa eveniet?</p>
  </div>
  
  <%- include('./partials/footer.ejs') %>

</body>
</html>